:host {
    display: block;
}

.brand-link {
    color: aquamarine;
    margin: -1px 8px 0 6px;
}

.sidebar {
    color: aqua;
}

.title {
    color: aquamarine;
}

.brand-image {
    float: left;
    line-height: 0.8;
    margin: -1px 8px 0 6px;
    opacity: 0.8;
    --pf-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.301),
        0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.img-circle {
    --pf-box-shadow: 0 3px 6px hsla(145, 67%, 20%, 0.161), 0 3px 6px #0000003b !important;
}

.form-inline {
    justify-content: center;
}
