@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

:host {
    display: block;
}

.brand-text {
    font-size: 17px;
    color: white;
}

ul {
    color: #000000;
}

.brand-link {
    margin: -1px 8px 0 6px;
}

// .brand-image {
//     float: left;
//     line-height: 0.8;
//     margin: -1px 8px 0 6px;
//     opacity: 0.8;
//     --pf-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.301),
//         0 6px 6px rgba(0, 0, 0, 0.23);
// }

// .img-circle {
//     --pf-box-shadow: 0 3px 6px hsla(145, 67%, 20%, 0.161), 0 3px 6px #0000003b;
// }

.form-inline {
    justify-content: center;
}
