<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <span class="txt">สนามฝึก</span>
            <br>
            <iframe src="http://jdiisrtarf.dyndns-server.com:5601/s/neercode/app/dashboards#/view/8a8f35c0-a209-11ed-acbd-bfad4e486699?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15y%2Cto%3Anow))&show-time-filter=true&hide-filter-bar=true" height="850" width="100%"></iframe>
    <p></p>
    </div>
    </div>
    </section>