<app-dropdown size="lg">
  <ng-container dropdown-button>
    <i class="fas fa-user-circle" style="font-size: 25px;"></i>
      <!-- <span class="badge badge-danger navbar-badge">3</span> -->
      <!-- <div class="media align-items-center">
        <span class="avatar avatar-sm rounded-circle">
          <img alt="Image placeholder" src="assets/img/profile.png" class="img-user" >
        </span>
        <div class="media-body ml-2 d-none d-sm-block">
          <span class="mb-0 text-sm  font-weight-bold">Jessica Jones</span>
        </div>
      </div> -->
  </ng-container>
  <ng-container *ngIf="login else loginTemplate" dropdown-menu>
      <div class="dropdown-divider"></div>
      <a href="profile" routerLink="profile" class="dropdown-item dropdown-footer">จัดการบัญชีผู้ใช้</a>
        <div class="dropdown-divider"></div>
      <a href="logout" routerLink="logout" class="dropdown-item dropdown-footer">ออกจากระบบ</a>
  </ng-container>

      <<ng-template #loginTemplate>
        <div class="dropdown-divider"></div>
        <a href="login" routerLink="login" class="dropdown-item dropdown-footer">
          <i class="fas fa-sign-in-alt" style="font-size: 20px;">&nbsp;&nbsp;</i>ลงชื่อเข้าใช้</a>
      </ng-template>
</app-dropdown>
