<app-header class="navbar-light"></app-header>

<app-menu-sidebar class="navbar-navy navbar-dark" >
<!-- <app-menu-sidebar class="sidebar-dark-primary elevation-4" style="background-color: #3C79F5; color:black;"> -->
</app-menu-sidebar>
<!-- <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: green"></aside> -->
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
<app-control-sidebar></app-control-sidebar>
<div id="sidebar-overlay" (click)="onToggleMenuSidebar()"></div>
