<div class="container-fluid">
    <h2>ภาพรวมบุคลากร</h2>
    <div class="row">
        <div class="col-md-12">
            <iframe
                src="http://jdiisrtarf.dyndns-server.com:5601/s/neercode/app/dashboards#/view/eb0f8640-9c85-11ed-acbd-bfad4e486699?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15y%2Cto%3Anow))&hide-filter-bar=true"
                height="700"
                width="100%"
            ></iframe>
        </div>
    </div>
</div>
