@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.txt {
  font-weight: bold;
  font-size: 50px;
}

@media only screen and (max-width: 2560px) {
  .txt { 
    font-size: 50px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1920px) {
  .txt { 
    font-size: 32px;
    font-weight: bold;
  }
}

@media only screen and (max-width:1440px) {
  .txt { 
    font-size: 28px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1024px) {
  .txt {
    font-size: 26px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  .txt {
    font-size: 20px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 425px) {
  .txt {
    font-size: 18px;
    font-weight: bold;
}
}

@media only screen and (max-width: 375px) {
  .txt {
    font-size: 14px;
    font-weight: bold;
}
}