@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}
.card-primary.card-outline {
    border-top: 3px solid #1b7e41 !important;
}

#grad {
    background: rgb(
        0,
        255,
        115
    ); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(
        left,
        rgba(255, 0, 0, 0),
        rgb(10, 124, 67)
    ); /*Safari 5.1-6*/
    background: -o-linear-gradient(
        right,
        rgba(255, 0, 0, 0),
        rgb(10, 124, 67)
    ); /*Opera 11.1-12*/
    background: -moz-linear-gradient(
        right,
        rgba(255, 0, 0, 0),
        rgb(10, 124, 67)
    ); /*Fx 3.6-15*/
    background: linear-gradient(
        to right,
        rgba(255, 0, 0, 0),
        rgb(10, 124, 67)
    ); /*Standard*/
}

.center {
    transition: 0.3s;
    width: 60%;
    height: 500px;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    display: flex;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.ng-container {
    display: block;
    margin: auto;
    justify-content: center;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    padding-left: 75px;
}

input[type='text'],
select,
textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
