
.card-primary.card-outline{
<<<<<<< HEAD
  border-top: 3px solid #FFF333 !important;

=======
  border-top: 3px solid #1b7e41 !important;
}

#grad {
  background: rgb(0, 255, 115); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgb(10, 124, 67)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgb(10, 124, 67)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgb(10, 124, 67)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgb(10, 124, 67)); /*Standard*/
>>>>>>> 1e87b786f608efd4a17dba73de93a0b71400103d
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


