
<div id="card" class="card card-outline card-primary">
    <div class="header text-center">
        <img
            src="assets/img/logo.png"
            class="logoimg"
        />
        <!-- <h2 id="title" class="title">โรงพยาบาลค่ายวชิราวุธ</h2> -->
    </div>
    <p></p>
        <p class="textlogin">ลงชื่อเข้าใช้งาน</p>

        <form action="#" class="signin-form">
            <div class="form-group mt-3">
                <input
                type="text"
                class="form-control"
                style="font-size: 14px;"
                placeholder="ชื่อผู้ใช้"
                [(ngModel)]="reqLogin.username"/>
            </div>
            <div class="form-group">
                    <input
                        type="password"
                        class="form-control"
                        style="font-size: 14px;"
                        placeholder="รหัสผ่าน"
                        [(ngModel)]="reqLogin.password"
                    />
            </div>
    </form>

        <div  style="align-items: center">
    
            <a class="forgot-password" routerLink="../forgot-password"
                ><b>Forgot Password</b></a
            >

            <!-- <div class="input-group "> -->
                <!-- /.col -->
                <div class="col-12" style="align-items: center">
                    <app-button
                        [disabled]="isBtnDisabled()"
                        [type]="'submit'"
                        [block]="true"
                        (click)="login()"
                        [loading]="isAuthLoading"
                    >
                        เข้าสู่ระบบ
                    </app-button>
                </div>
                <!-- /.col -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /.login-card-body -->

