<div class="w-full max-w-md px-8 pt-6 pb-8">
    <img
        src="assets/img/logo.png"
        class="center"
        style="display: flex; justify-content: center; margin: auto"
    />
    <div class="mt-10 mb-7 card-header text-center">
        <a [routerLink]="['/']" class="h4 mt-10 mb-7"
            ><b>โรงพยาบาลค่ายวชิราวุธ</b></a
        >
        <div class="text-center text-xs my-3 text-gray-400">ยินดีต้อนรับ</div>
    </div>
    <div class="card-body">
        <p class="login-box-msg">ลงชื่อเข้าใช้งาน</p>

        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="ชื่อผู้ใช้"
                [(ngModel)]="reqLogin.username"
            />
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input
                type="password"
                class="form-control"
                placeholder="รหัสผ่าน"
                [(ngModel)]="reqLogin.password"
            />
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <!-- <div class="flex justify-between">
            <label class="inline-flex items-center mb-6"
                ><input
                    type="checkbox"
                    name="memorize"
                    class="
                        form-checkbox
                        h-5
                        w-5
                        text-primaryFS-500
                        rounded-md
                        outline-none
                        ring-0
                        shadow-none
                        cursor-pointer
                    "
                /><span class="ml-2 text-gray-700 dark:text-gray-200 text-sm"
                    >จำรหัสผ่าน</span
                ></label
            >
            <div>
                <a
                    class="text-gray-700 dark:text-gray-200 text-sm"
                    href="/forget"
                    >ลืมรหัสผ่าน?</a
                >
            </div>
        </div> -->

        <div class="row">
            <!-- /.col -->
            <div class="col-12" style="align-items: center">
                <app-button
                    [disabled]="isBtnDisabled()"
                    [type]="'submit'"
                    [block]="true"
                    (click)="login()"
                    [loading]="isAuthLoading"
                >
                    เข้าสู่ระบบ
                </app-button>
            </div>

            <!-- /.col -->
        </div>
    </div>
    <!-- /.login-card-body -->
</div>
