<h3 class="text-center" style="justify-content: center">ข่าวประชาสัมพันธ์</h3>

<!--Carousel (Image slideshow)-->
<div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
>
    <div class="carousel-indicators">
        <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
        ></button>
        <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img
                src="assets/img/posterRoyalThaiArmy66.png"
                class="d-block w-100"
            />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/img/posterPDPA2566.png" class="d-block w-100" />
        </div>
        <div class="carousel-item">
            <img
                src="assets/img/bannerarmyonline_2565.gif"
                class="d-block w-100"
            />
        </div>
    </div>
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />

<!--News Card-->
<div class="contanier">
    <div class="row">
        <div class="card-group">
            <div class="card">
                <img src="assets/img/area.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">
                        พล.ต.โชคชัย ขวัญพิชิต ผู้อำนวยการรพ.ค่ายวชิราวุธ/
                        แพทย์ใหญ่กองทัพภาคที่ 4 ลงพื้นที่พบปะประชาชน ณ
                        ต.ห้วยกระทิง อ.กรงปินัง จ.ยะลา
                    </h5>
                    <p class="card-text">
                        เมื่อวันที่ 18 ม.ค. 2566 พล.ต.โชคชัย ขวัญพิชิต
                        ผอ.รพ.ค่ายวชิราวุธ/ แพทย์ใหญ่กองทัพภาคที่ 4
                        ลงพื้นที่พบปะประชาชนรับฟังปัญหา
                        แนะนำแนวทางการป้องกันการเกิดโรคไข้มาลาเรีย
                        พร้อมทั้งลงพื้นที่ทำลายแหล่งเพาะพันธุ์ของพาหนะตัวนำเชื้อโรคไข้มาลาเรีย
                        (ยุงก้นป่อง) ณ ต.ห้วยกระทิง อ.กรงปินัง จ.ยะลา
                    </p>
                    <p class="card-text">
                        <small class="text-muted"
                            >Last updated 3 mins ago</small
                        >
                    </p>
                </div>
            </div>
            <div class="card">
                <img
                    src="assets/img/1_001.jpg"
                    class="card-img-top"
                    alt="..."
                    style="height: 400px"
                />
                <div class="card-body">
                    <h5 class="card-title">
                        รพ.ค่ายวชิราวุธมีความประสงค์จัดซื้อโคมไฟผ่าตัดชนิดโคมคู่แขวนเพดาน
                    </h5>
                    <p class="card-text">
                        รพ.ค่ายวชิราวุธมีความประสงค์จัดซื้อโคมไฟผ่าตัดชนิดโคมคู่แขวนเพดานแบบหลอด
                        LED พร้อมระบบถ่ายทอกสัญญาณ จำนวน 4 ชุด
                        เชิญชวนผู้ประกอบการที่มีความสนใจประกวดราคา
                    </p>
                    <p class="card-text">
                        <small class="text-muted"
                            >Last updated 3 mins ago</small
                        >
                    </p>
                </div>
            </div>
            <div class="card">
                <img
                    src="assets/img/army_wachirawuthospital.png"
                    class="card-img-top"
                    alt="..."
                    style="height: 300px"
                />
                <div class="card-body">
                    <h5 class="card-title">
                        ประชาสัมพันธ์ทหารกองเกินที่จะเข้ารับการตรวจโรคก่อนการตรวจเลือก
                        ประจำปี 2566
                    </h5>
                    <p class="card-text">
                        การตรวจโรคก่อนการตรวจเลือกทหารกองเกินเข้ารับราชการทหารกองประจำการ
                        ประจำปี 2566 ทหารกองเกิน
                        ซึ่งอยู่ในกำหนดเรียกเข้ารับการตรวจเลือกฯ ในเดือน เม.ย.
                        66 ผู้ใดที่เห็นว่าตนเองมีโรคหรือสภาพร่างกาย
                        หรือสภาพจิตใจที่ไม่สามารถรับราชการทหารได้
                        ให้ไปขอรับการตรวจโรคก่อนการตรวจเลือกทหารกองเกินเข้ารับราชการทหารกองประจำการได้ที่โรงพยาบาลในสังกัดกองทัพบก
                        กองทัพเรือ และกองทัพอากาศ 26 แห่งทั่วประเทศ
                        (โรงพยาบาลใดก็ได้)
                    </p>
                    <p class="card-text">
                        <small class="text-muted"
                            >Last updated 3 mins ago</small
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <h1>Hello Plo</h1>
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
         <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
     <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
     <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
     <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
     <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->
