<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <span class="txt">ใบสั่งซื้อ</span>
            <br>
            
            <iframe src="http://jdiisrtarf.dyndns-server.com:5601/s/neercode/app/dashboards#/view/aee2e360-a2a2-11ed-acbd-bfad4e486699?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15y%2Cto%3Anow))"  height="850" width="100%"></iframe>
    <p></p>
    </div>
    </div>
    </section>